@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Studio Pro";
    src: url("~/assets/fonts/StudioPro-Regular.woff2") format("woff2"),
        url("~/assets/fonts/StudioPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Studio Pro";
    src: url("~/assets/fonts/StudioPro-RegularItalic.woff2") format("woff2"),
        url("~/assets/fonts/StudioPro-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@layer base {
    html {
        font-family: "Studio Pro", serif;
        font-weight: normal;
        @apply text-primary;
    }

}